@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color:#811331;
  --secondary-color: #ffffff;
  --teritary-color: #F0F0F0;

}

/* General Styling */
::-webkit-scrollbar{
  display: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.logo i{
  font-size: 40px;
  padding: 0px 10px;
  color: #811331;
}


.container {
  position: relative;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.25rem;
  text-align: center;
  color: var(--dark-two);
  line-height: 1.6;
}

.column-1 {
  margin-right: 1.5rem;
}

.column-2 {
  margin-left: 1.5rem;
}



.points {
  opacity: 0.3;
  position: absolute;
}

.section {
  padding: 7rem 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
  margin-bottom: 0.6rem;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: var(--primary-color);
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header .text {
  max-width: 600px;
  margin: 0 auto;
}

.title-location {
  color: var(--dark-one);
  font-weight: 600;
  font-size: 1.6rem;
}





/* End General Styling */

/* Header */

header {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--teritary-color);
}

.logo-color{
  color: #811331;

}

nav {
  width: 100%;
  position: relative;
}

nav .container {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}

.logo {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact ul {
  display:flex;
  flex-direction: row;
}

.contact button {
  margin-top: 70px;
  border: none;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  font-size: 12px;
  margin-left: -40px;
}

.contact button:hover{
  cursor: pointer;
}


.header-content .container.grid-2 {
  grid-template-columns: 2.5fr 3.5fr;
  height: 500px;
  padding-bottom: 2.5rem;
  text-align: left;
}

.header-title {
  font-size: 3rem;
  display: grid;
  place-items: center;
  color: rgba(35,39,42);
}

.header-content .text {
  margin: 2.15rem 0;
  display: grid;
  place-items: center;
}

.header-content input {
  background-color: #811331;
  margin: 0 auto;
  margin-top: 2.15rem;
  outline: none;
  border: none;
  border-radius: 15px;
  width: 70%;
  height: 50px;
  font-size: 12px;
  color:#ffffff
}

.header-content button {
  border: none;
  background-color: #333;
  color: #ffffff;
  border-radius: 10px;
  width: 150px;
  margin: 0 auto;
  height: 50px;
  font-size: 12px;
}

::placeholder{
  color: #ffffff;
  padding: 0 10px;
}

/* End header */

/* Services */

.icon {
  width: 90px;
  margin-bottom: 1.7rem;
}

/* End Services */


/* Requirements */

.requirement-title{
  margin: 5px;
}

.requirement{
  background-color:var(--terit);
}
/* End Requirements */

/* Sites */


.sites-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
}

.sites-wrap {
  position: relative;
  margin: 1rem 0.5rem;
}

.sites-content {
  padding: 2.1rem 2.2rem 2.7rem 2.2rem;
}

.sites-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.sites-location{
  text-align: center;
}

.sites-info h5 {
  color: var(--primary-color);
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.05rem;
  letter-spacing: 2px;
}


.sites-location {
  margin-right: 2rem;
}


.sites-text {
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}


/* End Sites */




/* Hire me */

/* .hireme {
  padding: 5rem 0;
}

.hireme .container {
  text-align: center;
}

.hireme .title {
  margin-bottom: 1.3rem;
}

.hireme .text {
  max-width: 1000px;
  margin: 0 auto 1.6rem auto;
} */

/* End Hire me */

/* Footer */

.footer {
  background-color: var(--secondary-color);
  padding: 3rem 0;
}

.footer .grid-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-4-col {
  padding: 0 rem;
}

.footer .title-sm {
  color: #000;
  margin-bottom: 0.9rem;
}

.footer .text {
  color: #aaa;
}

.footer-links a {
  color: #888;
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--primary-color);
}


.focus {
  background: #fff;
}

.bottom-footer {
  margin-top: 5.5rem;
  padding: 0 1.7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1.5rem 0 0 0;
  margin-top: 2.5rem;
  position: relative;
}

.copyright .text {
  color: #000000;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}

.copyright .text span {
  color: var(--primary-color);
  cursor: pointer;
}

.followme-wrap {
  display: flex;
}

.followme {
  display: flex;
  align-items: center;
}

.followme h3 {
  color: #252525;
  font-weight: 500;
  font-size: 1.3rem;
}

.followme .footer-line {
  width: 60px;
  height: 2px;
  background-color: #000000;
  margin: 0 1.2rem;
  display: inline-block;
}

.social-media a {
  color: #252525;
  font-size: 1.3rem;
  margin-right: 0.4rem;
  transition: 0.3s;
}

.social-media a:hover {
  color: var(--primary-color);
}

/* End Footer */

/* Responsive */

@media (max-width: 1280px) {
  .text {
    font-size: 1rem;
  }

  .title {
    font-size: 2.1rem;
    padding-bottom: 0.65rem;
  }

  .title:before {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .title:after {
    height: 3.5px;
    width: 70px;
  }

  .title-location {
    font-size: 1.2rem;
  }


  .section-header .text {
    max-width: 500px;
  }

  .section {
    padding: 4.5rem 0;
  }

  .column-1 {
    margin-right: 1rem;
  }

  .column-2 {
    margin-left: 1rem;
  }


  nav .container {
    height: 4.5rem;
  }

  .header-content .container.grid-2 {
    min-height: calc(100vh - 4.5rem);
    padding-bottom: 1.5rem;
  }

  .logo {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.logo i{
  font-size: 30px;
  padding: 0px 0px;
  color: #811331;
}




  .header-content .text {
    margin: 1.1rem 0;
    text-align: center;
  }


  .header-content input {
    margin-left: 0;
    margin-top: 2.15rem;
    width: 50%;
    font-size: 12px;
  }

  ::placeholder{
    color: #ffffff;
    padding-left: 10px;
  }

  .icon {
    width: 65px;
    margin-bottom: 0.8rem;
  }

  .grid {
    margin: 0.8rem 0;
  }

  .grid-item {
    padding: 0.8rem;
  }


  .hireme {
    padding: 2rem 0rem;
  }

  .footer {
    padding: 1.5rem ;
  }

  .footer-links a {
    font-size: 1rem;
  }

  .footer .title-sm {
    margin-bottom: 0.5rem;
  }


  .copyright .text {
    font-size: 0.95rem;
  }

  .followme h3 {
    font-size: 1.05rem;
  }

  .followme .footer-line {
    margin: 0 0.8rem;
  }

  .social-media a {
    font-size: 1.05rem;
  }

}

@media (max-width: 850px) {

  .grid-2 {
    grid-template-columns: 1fr !important;
  }


  .logo{
    margin: 0 auto;
    margin-top: 100px;
  }

  .column-1 {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .column-2 {
    margin-left: 0;
    margin-top: 1rem;
  }

  .contact button{
    display: none;
  }


  .header-content {
    margin-top: 1rem;
  }


  
  .header-content form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .header-content input {
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    width: 50%;
    height: 100%;
    font-size: 12px;
  }
  
  .header-content button {
    width: 30%;
    overflow: hidden;
    margin-top: 20px;
    height: 40px;
  }

  .header-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
  }

  .header-content .text{
    margin-bottom: 10px;
    padding: 0 10px;
    text-align: center;
  }

  .header-content .image {
    max-width: 400px;
    margin: 0 auto;
  }

  .header-content input{
    display: grid;
    place-items: center;
  }


  header .column-1 {
    max-width: 550px;
    margin: 0 auto;
  }



  .header-content .container.grid-2 {
    min-height: 40vh;
  }

  .location-wrap{
    margin-top: 50px;
    text-align: center;
  }

  .title-location{
    font-size: 20px;
  }

  
  
  .sites {
    text-align: center;
  }
  
  .sites-location{
  margin: 0 auto;
  }
  


  .grid-item {
    width: 50%;
  }



  .background-bg {
    height: 340px;
  }



  .review-nav {
    bottom: 3rem;
  }


  .footer .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }



  .grid-4-col {
    margin: 1rem 0;
    padding: 0;
  }

  .bottom-footer {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 1.5rem 0 0 0;
    margin-top: -5rem;
    position: relative;
  }

  .bottom-footer:before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 1px;
    background-color: #7b7b7b;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .followme-wrap {
    margin-top: 0.8rem;
  }
}

@media (max-width: 700px){



  .header-content input{
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    border: none;
  }

  

}


@media (max-width: 600px) {
  .grid-item {
    width: 100%;
  }



}

@media (max-width: 560px) {

  .header-content form{
    flex-direction: column;
  }

  .header-content input{
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    width: 80%;
    height: 30%;
  }

  .header-content button{
    margin: 1px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .logo {
    margin: 0 auto;
    margin-top: 100px;
    width: 65px;
  }

.logo i{
  font-size: 30px;
  padding: 0px 5px;
  color: #811331;
}

  .container {
    padding: 0 2rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .text {
    font-size: 0.92rem;
    text-align: center;
  }

}

