@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color:#811331;
  --tertiary-color: #ffffff;
  --dark-text: rgba(35,39,42,1);
  --light-white:rgba(248,248,248);
  --light-text: #09090999;
  --section: #F8F8F8;
  --hover: rgba(59,130,246,0.8);

}

/* General Styling */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}


.container {
  position: relative;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.25rem;
  text-align: center;
  color: var(--dark-text);
  line-height: 1.6;
}

.column-1 {
  margin-right: 1.5rem;
}

.column-2 {
  margin-left: 1.5rem;
}



.section {
  padding: 5rem 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  display: inline-block;
  color: var(--hover);
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
  margin-bottom: 0.6rem;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 15px;
  background:linear-gradient(102.28deg, rgba(231, 189, 251, 0.5) -7.7%, rgba(250, 208, 218, 0.5) 38.01%, rgba(59,130,246,0.5) 91.43%);
  opacity: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header .text {
  max-width: 600px;
  margin: 0 auto;
}




/* End General Styling */

/* Header */

.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:linear-gradient(102.28deg, rgba(231, 189, 251, 0.5) -7.7%, rgba(250, 208, 218, 0.5) 38.01%, rgba(59,130,246,0.5) 91.43%);
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}


header {
  width: 100%;
  padding: 0 25px;
  overflow: hidden;
  position: relative;
}

.header-content::before{
  content: "";
  border-radius: 15px ;
  position: absolute;
  width: 100%;
  max-width: 500px;
  height: 5px;
  font-weight: 900;
  background:linear-gradient(102.28deg, rgba(231, 189, 251, 0.5) -7.7%, rgba(250, 208, 218, 0.5) 38.01%, rgba(59,130,246,0.5) 91.43%);
  bottom: -0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-content::after{
  content: "";
  border-radius: 15px ;
  position: absolute;
  width: 100%;
  max-width: 500px;
  height: 5px;
  font-weight: 900;
  background:linear-gradient(102.28deg, rgba(231, 189, 251, 0.5) -7.7%, rgba(250, 208, 218, 0.5) 38.01%, rgba(59,130,246,0.5) 91.43%);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  width: 100%;
  position: relative;
}

nav .container {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}

.logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-left: 0;
  user-select: none;
}

.logo-color{
  color: var(--hover);
}



.contact ul {
  display: block;
}

.contact button {
  margin-top: 70px;
  padding: 0;
  margin-bottom: 0;
  border: none;
  background-color: var(--light-white);
  color: var(--dark-text);
  border-radius: 10px;
  margin-right: 0;
  width: 90px;
  height: 45px;
  transition: all 0.5s ease; 
  font-size: 12px;
}

.contact button:hover{
  cursor: pointer;
  background-color: var(--hover);
  box-shadow: 0px 5px 5px var(--hover);
  color: #fff;
  transition: all 0.5s ease; 
  transform: translateY(-7px);
}

.image {
  display: flex;
  transform: rotateZ(10deg);
}

.image img{
  user-select: none;
  -webkit-user-drag: none;
  margin-right: 30%;
  margin-top: 0px;
  height: auto;
  width: 100%;
  max-width: 400px;
}


.header-content .container.grid-2 {
  color: var(--dark-text);
  grid-template-columns: 1fr  0.75fr 0.25fr;
  height: 500px;
  padding-bottom: 2.5rem;
  text-align: center;
}

.header-title {
  letter-spacing: 1px;
  color: var(--dark-text);
  font-weight: 700;
  line-height: 1.5;
  font-size: 2.5rem;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 0 20px;
}

.header-content .text {
  color: var(--light-text);
  opacity: 1;
  margin: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 0 40px;
  display: grid;
  place-items: center;
  text-align: center;
}

.wrapper{
  font-family: inherit;
  height: 60px;
  width: 400px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper i{
  color: yellow;;
}

.wrapper .btn-1{
  position: absolute;
  height: 100%;
  width: 50%;
  color: rgba(248,248,248);
  background: var(--dark-text);
  line-height: 60px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .btn-1:hover{
  cursor: pointer;
  background-color: var(--hover);
  box-shadow: 0px 5px 5px var(--hover);
  color: #fff;
  transition: all 0.5s ease; 
  transform: translateY(-7px);
}

.wrapper .btn-1:active{
  transform: scale(0.9);
}
#click:checked ~ .btn-1{
  height: 40px;
  width: 100px;
  opacity: 0;
  pointer-events: none;
}
.wrapper .field{
  height: 100%;
  width: 0%;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#click:checked ~ .field{
  width: 100%;
  opacity: 1;
  pointer-events: auto;
}
.wrapper .field input{
  height: 100%;
  width: 100%;
  border: 3px solid var(--dark-text);
  border-radius: 15px;
  padding: 0 130px 0 15px;
  font-size: 20px;
  outline: none;
}
.wrapper .field input::placeholder{
  color: #999;
  font-size: 18px;
}
.wrapper .field .btn-2{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  background: var(--dark-text);
  height: 40px;
  width: 100px;
  user-select: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.wrapper .field .btn-2:hover{
  cursor: pointer;
  background-color: var(--hover);
  box-shadow: 0px 5px 5px var(--hover);
  color: #fff;
  transition: all 0.5s ease; 
}

.wrapper .field .btn-2:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper #click{
  display: none;
}

/* End header */

/* Locations */

.icon {
  width: 90px;
  margin-bottom: 1.7rem;
}

.location {
  display: flex;
  background-color: var(--tertiary-color);
  flex-direction: row-reverse;
  width: 100%;
  text-transform: none;
}


.location-wrap {
  position: relative;
  margin: 1rem 0.5rem;
}

.location-content {
  padding: 2.1rem 2.2rem 2.7rem 2.2rem;
  text-align: center;
  text-transform: none;
}



.title-location {
  color: var(--hover);
  font-weight: 700;
  text-transform: none;
  font-size: 1.05rem;
  letter-spacing: 2px;
}

.location-text{
  color: var(--dark-text);
  font-size: 1.2rem;
  text-align: center;
  padding: 0 400px;
}



.location .text{
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--dark-text);
  opacity: 1;
  text-align: center;
}





/* Locations */


/* Requirements */


.requirement{
  background-color: var(--section-color);
}


.requirement-text{
  color: var(--dark-text);
  font-size: 1.2rem;
  text-align: center;
  text-transform: none;
  margin: 0.5rem 0 1.5rem 0;
  line-height: 1.5;
  color: var(--dark-text);
  text-transform: none;
  text-align: center;
  padding: 0 250px;

}


/* End Requirements */

/* Sites */

.sites {
  display: flex;
  background-color: var(--tertiary-color);
  flex-direction: row-reverse;
  width: 100%;
  text-transform: none;
}


.sites-wrapper {
  position: relative;
  margin: 1rem 0.5rem;
}

.sites-content {
  padding: 2.1rem 2.2rem 2.7rem 2.2rem;
  text-align: center;
  text-transform: none;
}



.sites-location {
  color: var(--dark-text);
  font-weight: 700;
  text-transform: none;
  font-size: 1.05rem;
  letter-spacing: 2px;
}

.sites-text{
  color: var(--dark-text);
  font-size: 1.2rem;
  text-align: center;
}



.sites .text{
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgba(129,121,127);
  opacity: 1;
  text-align: center;
}




/* End Sites */



/* Footer */

.footer {
  padding: 3rem 0;
  background-color: var(--tertiary-color);
}

.footer .grid-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-4-col {
  padding: 0 rem;
}

.footer .title-sm {
  color: var(--dark-text);
  margin-bottom: 0.9rem;
}

.footer .text {
  color: var(--dark-text);
}

.footer-links a {
  color: var(--dark-text);
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  transition: 0.5s;
}

.footer-links a:hover {
  color: var(--hover);
}


.focus {
  background: #fff;
}

.bottom-footer {
  margin-top: 5.5rem;
  padding: 0 1.7rem;
  display: flex;
  color: var(--dark-text);
  align-items: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1.5rem 0 0 0;
  margin-top: 2.5rem;
  position: relative;
}

.bottom-footer:before {
  content: "";
  border-radius: 15px ;
  position: absolute;
  width: 100%;
  max-width: 500px;
  height: 5px;
  font-weight: 900;
  background:linear-gradient(102.28deg, rgba(231, 189, 251, 0.5) -7.7%, rgba(250, 208, 218, 0.5) 38.01%, rgba(59,130,246,0.5) 91.43%);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}


.copyright{
  width: 100%;
  background-color: var(--tertiary-color);
  text-align: center;
}

.copyright .text {
  color: var(--dark-text);
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}

.copyright .text span {
  color: var(--hover);
}

.followme-wrap {
  display: flex;
}

.followme {
  display: flex;
  align-items: center;
}

.followme p {
  color: var(--dark-text);
  font-size: 1.2rem;
}

.followme .footer-line {
  width: 60px;
  height: 2px;
  background:linear-gradient(102.28deg, rgba(231, 189, 251, 0.5) -7.7%, rgba(250, 208, 218, 0.5) 38.01%, rgba(59,130,246,0.5) 91.43%);
  margin: 0 1.2rem;
  display: inline-block;
}

.social-media a {
  color: var(--dark-text);
  font-size: 1.3rem;
  margin-right: 0.4rem;
  transition: 0.3s;
}

.social-media a:hover {
  color: var(--hover);
}

/* End Footer */

/* Responsive */

@media (max-width: 1280px) {
  .text {
    font-size: 1rem;
  }

  .title {
    font-size: 2.1rem;
    padding-bottom: 0.65rem;
  }

  .title:before {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .title:after {
    height: 3.5px;
    width: 70px;
  }

  .title-location {
    font-size: 1.2rem;
  }


  .section-header .text {
    max-width: 500px;
  }

  .section {
    padding: 2rem 0;
  }

  .column-1 {
    margin-right: 1rem;
  }

  .column-2 {
    margin-left: 1rem;
  }


  nav .container {
    height: 4.5rem;
  }

  .header-content .container.grid-2 {
    min-height: calc(100vh - 4.5rem);
    padding-bottom: 1.5rem;
  }

  header {
    padding: 0 0;
  }
  

  .logo {
    font-size: 15px;
  }
  

  .contact button {
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
  

  .header-content .container.grid-2 {
    grid-template-columns: 1fr;
    flex-direction: column;
    text-align: center;
  }
  
  .header-title {
    margin-top: 50px;
    font-size: 2.5rem;
    padding: 0 150px;
    text-align: center;
  }
  
  .header-content .text {
    margin: 2.5rem;
    padding: 0 200px;
    font-size: medium;
    display: grid;
    place-items: center;
    text-align: center;
  }

  .image img{
    display: none;
  }
  
  
  .wrapper .btn-1{
    font-size: 18.5px;
  }

  
  .wrapper .btn-1{
    height: 100%;
    width: 100%;
  }
  
.requirement-text{
  padding: 0 100px;
}


.sites-text {
  padding: 0 100px;
}


.location {
  display: flex;
  flex-direction: column;
  width: 100%;
}

  .location-text{
  padding: 0 100px;
}
.location .text{  
  padding: 0 100px;
  
}
  .icon {
    width: 65px;
    margin-bottom: 0.8rem;
  }

  .grid {
    margin: 0.8rem 0;
  }

  .grid-item {
    padding: 0.8rem;
  }


  .hireme {
    padding: 2rem 0rem;
  }

  .footer {
    padding: 1.5rem ;
  }

  .footer-links a {
    font-size: 1rem;
  }

  .footer .title-sm {
    margin-bottom: 0.5rem;
  }


  .copyright .text {
    font-size: 0.95rem;
  }

  .followme h3 {
    font-size: 1.05rem;
  }

  .followme .footer-line {
    margin: 0 0.8rem;
  }

  .social-media a {
    font-size: 1.05rem;
  }

}



@media (max-width: 850px) {

  .grid-2 {
    grid-template-columns: 1fr !important;
    text-align: center;
  }


  .column-1 {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .column-2 {
    margin-left: 0;
    margin-top: 1rem;
  }

    
    header {
    padding: 0 0px;
  }


  .logo {
    margin-top: 70px;
    font-size: 15px;
  }


  .header-title {
    margin-top: 50px;
    font-size: 2rem;
    text-align: center;
  }

  .header-content .text {
    margin: 2rem;
    padding: 0 120px;
    font-size: small;
  }


  .header-content .container.grid-2 {
    min-height: 40vh;
  }


  .wrapper .btn-1{
    font-size: 1rem;
  }
  

  .wrapper .field input{
    font-size: 1rem;
  }
  .wrapper .field input::placeholder{
    font-size: 1rem;
  }
  .wrapper .field .btn-2{
    font-size: 1rem;
  }


  .location-wrap{
    margin-top: 0px;
    text-align: center;
  }

  .title-location{
    font-size: 20px;
  }

  
  
  .sites {
    text-align: center;
  }
  
  .sites-location{
  margin: 0 auto;
  }
  



  .grid-item {
    width: 50%;
  }




  .footer .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }



  .grid-4-col {
    margin: 1rem 0;
    padding: 0;
  }

  .bottom-footer {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 1.5rem 0 0 0;
    margin-top: -5rem;
    position: relative;
  }

  .bottom-footer:before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 3px;
    background:linear-gradient(102.28deg, rgba(231, 189, 251, 0.5) -7.7%, rgba(250, 208, 218, 0.5) 38.01%, rgba(168, 198, 243, 0.5) 91.43%);
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .followme-wrap {
    margin-top: 0.8rem;
  }
}

@media (max-width: 700px){


  .logo-color{
    font-size: 1.2rem;
    opacity: 1;
  }
  
  .contact button{
    display: none;
  }
  
  .wrapper .btn-1{
    font-size: 0.95rem;
  }
  
  
  .wrapper .field input{
    font: size 0.95rem;;
  }
  .wrapper .field input::placeholder{
    font-size: 0.95rem;
  }
  .wrapper .field .btn-2{
    font-size: 0.95rem;
  }

    
  .wrapper .btn-1{
    height: 100%;
    width: 80%;
  }
  

}


@media (max-width: 650px) {

  .grid-item {
    width: 100%;
  }

  
  .header-title {
    margin-top: 40px;
    padding: 0 30px;
  }

  .header-content .text{
    padding: 0 30px;
  }

  .wrapper .btn-1{
    height: 100%;
    width: 80%;
  }

    
}

@media (max-width: 560px) {

  .header-content .container.grid-2 {
    grid-template-columns: 1fr;
    padding-bottom: 2.5rem;
    text-align: center;
  }
  
  header {
    padding: 0 10px;
    height: 650px;
  }


  .logo {
    margin-top: 35px;
    margin-left: auto;
  }


  .header-title {
    margin-top: 40px;
    line-height: 1.4;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 0 20px;
  }

  .header-content .text {
    font-weight: 400;
    margin: 30px;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
  }

.wrapper{
  margin-top: 2rem;
  padding: 0 40px;
}

.wrapper .btn-1{
    height: 100%;
    width: 80%;
  font-size: 0.92rem;
}


.wrapper .field input{
  height: 100%;
  width: 100%;
  border: 3px solid var(--dark-text);
  border-radius: 10px;
  padding: 0 130px 0 15px;
  font: size 0.92rem;;
  outline: none;
}
.wrapper .field input::placeholder{
  font-size: 0.92rem;
}
.wrapper .field .btn-2{
  font-size: 0.92rem;
}

.location-text{
  padding: 0 20px;
}

.location .text{
  padding: 0 20px;
}
.requirement-text{
  padding: 0 20px;
}


  .container {
    padding: 0 2rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .text {
    font-size: 0.92rem;
    text-align: center;
  }

  
}

